{% extends 'home/base.html' %}
{% load mathfilters %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Your Cart</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="emphasized" style="color:black;" scope="col">Product</th>
                            <th class="emphasized" style="color:black;" scope="col">Availability</th>
                            <th class="emphasized" style="color:black;" scope="col" class="text-center">Quantity</th>
                            <th class="emphasized" style="color:black;" scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderitem in order.get_cart_items %}
                            <tr>
                                <td class="emphasized" style="color:black;" >{{ orderitem.product.name }}</td>
                                <td class="emphasized" style="color:black;">In stock</td>
                                <td class="emphasized" style="color:black;"><a style="padding: 0; margin: 0 5px;" href="{% url 'decreaseqty' orderitem.product.id %}" class="btn"><i class="fa fa-minus"></i></a><span>{{ orderitem.quantity }}</span><a style="padding: 0; margin: 0 5px;" href="{% url 'increaseqty' orderitem.product.id %}" class="btn"><i class="fa fa-plus"></i></a></td>
                                <td class="emphasized" style="color:black;">Rs.{{orderitem.product.price|mul:orderitem.quantity}}</td>
                                <td ><a class="btn btn-sm btn-danger" href="{% url 'deletefromcart' orderitem.product.id %}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td></td>
                            <td></td>
                            <td class="emphasized" style="color:black;">Sub-Total</td>
                            <td class="emphasized" style="color:black;">Rs.{{order.get_cart_total}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="emphasized" style="color:black;">Shipping</td>
                            <td class="emphasized" style="color:black;">Rs.{{ shippingcost }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="emphasized" style="color:black;"><strong>Total</strong></td>
                            <td class="emphasized" style="color:black;"><strong>Rs.{{ grandtotal }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-lg btn-block btn-light" href="{% url 'home' %}">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="{% url 'checkout' %}"  class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
