{% extends 'home/base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">ABOUT US</h1>
         </div>
    </section>
    <br>
    <p style="font-size: 15px">This is a web portal of <strong>GStore</strong>, a young and vibrant company that aims to provide good quality branded IT products online. Customer satisfaction is GStore's top priority, achieved by delivering superior service with our ever-present philosophy of putting the customer first. GStore offers competitive pricing on its unparalleled product selection, with a firm commitment to on-time order fulfillment.</p>
    <br>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HELP</h1>
         </div>
    </section>
    <br>

    <p style="font-size: 15px">The following steps will help you buy your products:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span style="font-size: 15px">Search for your product</span></li>
        <li class="list-group-item"><span style="font-size: 15px">Clicking on the product card will reveal additional product info. Alternatively, clicking on <span style="background-color: #0069d9; color: white; padding: 10px">Add to Cart</span> will add the desired product to cart.</span></li>
        <li class="list-group-item"><span style="font-size: 15px">Head over to your cart by clicking <span style="color: #03ff34; background-color: black; padding: 10px">Cart</span> .</span></li>
        <li class="list-group-item"><span style="font-size: 15px">Change the quantity of your products according to your need.</span></li>
        <li class="list-group-item"><span style="font-size: 15px">Press <span style="background-color: #218838; color: white; padding: 10px">Checkout</span> after finalizing your product list.</span></li>
        <li class="list-group-item"><span style="font-size: 15px">You will see a payment portal. Fill up your credit card credentials.Press <span style="background-color: #166D9A; color: white; padding: 10px">CONFIRM & PAY</span> to buy your products!</span></li>
        <li class="list-group-item"><span style="font-size: 15px"></span></li>
    </ul>

{% endblock content %}