{##}
{##}
{#<form action="http://127.0.0.1:8000/add-bus/" method="post">{% csrf_token %}#}
{#					<label>Bus ID</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-lock" aria-hidden="true"></span>#}
{#						<input type="text" value="{{bus_id }}" name = 'bus_id' readonly>#}
{#					</div>#}
{#                    <label>Name</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-birthday-cake" aria-hidden="true"></span>#}
{#						<input type="text" placeholder="Enter Name of the Bus" name = 'name' required="">#}
{#					</div>#}
{#                    <label>Source</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-map-signs" aria-hidden="true"></span>#}
{#						<input type="text" placeholder="Enter Source" name = 'source' required="">#}
{#					</div>#}
{#                    <label>Destination</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-map-marker" aria-hidden="true"></span>#}
{#						<input type="text" placeholder="Enter Destination" name = 'destination' required="">#}
{#					</div>#}
{#                    {% comment %}<label>No.of Seats</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-phone" aria-hidden="true"></span>#}
{#						<input type="number" placeholder="Enter No.of Seats" name = 'no_of_seats' required="">#}
{#					</div>{% endcomment %}#}
{#                    <label>No.of Rows</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-phone" aria-hidden="true"></span>#}
{#						<input type="number" min="0" placeholder="Enter No.of Rows" name = 'no_of_rows' id="no_of_rows" value="0" required="">#}
{#					</div>#}
{#                    <label>No.of Columns</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-phone" aria-hidden="true"></span>#}
{#						<input type="number" min="0" placeholder="Enter No.of Columns" name = 'no_of_columns' id="no_of_columns" value="0" required="">#}
{#					</div>#}
{##}
{#                    <table id="seat_table"></table>#}
{#                    <div class="" style = "max-width:470px;display: none" id="seat_div">#}
{#                        <input id="seat_data" type = "text" style = "margin-left:20%;" placeholder = "" name = "seat_data" readonly/>#}
{#                    </div>#}
{##}
{#					<label>Time</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-clock-o" aria-hidden="true"></span>#}
{#						<input type="time" placeholder="Enter Arrival Time" name = 'time' required="">#}
{#					</div>#}
{#                    <label>Price</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-clock-o" aria-hidden="true"></span>#}
{#						<input type="number" placeholder="Enter Price" name = 'price' required="">#}
{#					</div>#}
{#                    <label>Description</label>#}
{#					<div class="input-group">#}
{#						<span class="fa fa-clock-o" aria-hidden="true"></span>#}
{#						<input type="text" placeholder="Enter Description" name = 'description' required="">#}
{#					</div>#}
{#						<button class="btn btn-danger btn-block" type="submit">Add</button >#}
{#				</form>#}
