{% extends 'home/base.html' %}

{% block content %}
    <div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->


      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form class="form-horizontal" role="form" method="post" action="{% url 'editprofile' %}" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group">
          <input type="file" name="avatar" class="form-control">
        </div>

            <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input name="FirstName" class="form-control" type="text" value={{ userform.firstname }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input name="LastName" class="form-control" type="text" value={{ userform.lastname }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Address:</label>
            <div class="col-md-8" >
              <input name = "address" style="height: 150px" class="form-control" type="text"  value={{ userform.address }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Phone Number:</label>
            <div class="col-md-8">
              <input name = "phoneno" class="form-control" type="number" value={{ userform.phoneno }}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <button type="submit" name="saveBtn" class="btn btn-primary" value="Save Changes">Save Changes</button>
              <span></span>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock content %}
